/* Általános beállítások */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.background-container {
  background-image: url('../src/korhatter.png'); /* Ha az src-ben van */
  width: 100%;
  height: 120vh;
  background-repeat: repeat;
  background-size: cover; /* vagy background-size: auto; a hatás függvényében */
  /* Animáció eltávolítva, így a háttér nem mozog */
}

/* Kulcskockák az ikonok mozgásához, méret növekedéséhez és eltűnéséhez */
@keyframes moveAndGrow {
  0% {
    transform: translateY(100%) scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(var(--target-height)) scale(1.5);
    opacity: 0;
  }
}

.icon {
  width: 50px;
  height: 50px;
  animation: moveAndGrow 4s forwards;
  animation-delay: calc(var(--icon-index) * 1s); /* Időbeli késleltetés minden ikon esetében */
}

/* DoctorsPage.css */
.DoctorsPage {
    text-align: center;
}

.filter-buttons {
    margin-bottom: 16px;
}

.filter-buttons button {
    margin: 0 8px;
    padding: 8px 16px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-buttons button:hover {
    background-color: #005fa3;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

/* Card.css */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.card h2 {
    font-size: 1.25em;
    margin: 16px 0 8px;
}

.card p {
    font-size: 1em;
    color: #666;
}

.card-content button {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card-content button:hover {
    background-color: #005fa3;
}
